<% if notice %>
  <div class="ui container">
    <div class="ui segment">
      <div class="ui icon message">
        <i class="info icon"></i>
        <div class="content">
          <div class="header">
            Aviso!
          </div>
          <p><%= notice %></p>
        </div>
      </div>
    </div>
  </div>
<% elsif alert %>
  <div class="ui container">
    <div class="ui segment">
      <div class="ui icon message">
        <i class="warning icon"></i>
        <div class="content">
          <div class="header">
            Alerta!
          </div>
          <p><%= alert %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
