<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar tu password. Tu puedes hacerlo a traves del siguiente link</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no lo solicitaste, por favor ignora este email.</p>
<p>Tu password no cambiará hasta que sigas el link y crees uno nuevo.</p>
