<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada por un numero exesivo se intentos de inicios de sesión sin exito.</p>

<p>Da click en el siguiente link para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
